<a href="#"><strong><i class="glyphicon glyphicon-film"></i> Actions</strong></a>
<hr>

    <div class="panel-heading">
        <h4>Actions</h4>
    </div>
    <div class="panel-body">
<% if ( gameId === '' ) { %>
    Game Name: <br/> <input name="game-name" class="form-control" />
    <div class="form-group">
            <button type="submit" name="player-action" value="newgame" class="btn btn-default">New Game</button>
    </div>
    <div class="form-group">
            <button type="submit" name="player-action" value="joingame" class="btn btn-default">Join Game</button>
    </div><% } else { %>    
    <div class="form-group">
            <button type="submit" name="player-action" value="fight" class="btn btn">Fight!</button>
    </div>
    <div class="form-group">
            <button type="submit" name="player-action" value="runaway" class="btn btn-default">Run away!</button>
    </div>
<% } %>
</div>