<footer class="text-center">This dashboard system was built by <a href="http://www.spiritsoftware.co.uk"><strong>Spirit Software Ltd</strong></a>
</footer>
<!-- script references -->
<!-- bower:js -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="/js/scripts.js"></script>
<!-- endinject -->
