<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./_head %>
	</head>
	<body>
<!-- header -->
<% include ./_header %>
<!-- /Header -->

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
<% include ./_leaderboard %>
       </div>
    </div>
    <!--/row-->
</div>
<!-- /Main -->

<% include ./_footer %>
	</body>
</html>